appnope==0.1.3
decorator==5.1.1
ptyprocess==0.7.0
python-dateutil==2.8.2
pickleshare==0.7.5
asttokens==2.4.0
parso==0.8.3
six==1.16.0
Pygments==2.16.1
ipykernel==6.26.0
packaging==23.2
pyzmq==25.1.1
jupyter_core==5.4.0
psutil==5.9.6
tornado==6.3.3
stack-data==0.6.3
ipython==8.16.1
jedi==0.19.1
pure-eval==0.2.2
backcall==0.2.0
prompt-toolkit==3.0.39
matplotlib-inline==0.1.6
traitlets==5.12.0
nest-asyncio==1.5.8
pexpect==4.8.0
executing==2.0.0
platformdirs==3.11.0
wcwidth==0.2.8
debugpy==1.8.0
jupyter_client==8.5.0
comm==0.1.4
cramjam==2.9.1
missingno==0.5.2
tangled-up-in-unicode==0.2.0
libclang==16.0.6
pydeck==0.8.1b0
pyasn1==0.5.1
opencv-python==4.8.1.78
pandas==2.2.3
PyWavelets==1.4.1
langchain==0.3.14
smart-open==6.4.0
wordcloud==1.9.4
Markdown==3.7
tensorboard==2.15.1
smmap==5.0.1
pip==24.3.1
streamlit-pandas-profiling==0.1.3
tensorflow-estimator==2.15.0
aiosignal==1.3.1
rouge==1.0.1
PyYAML==6.0.1
pybind11==2.13.6
tensorflow-macos==2.15.0
lxml==5.3.0
thinc==8.2.3
ir_datasets==0.5.9
GitPython==3.1.43
toml==0.10.2
pandas-profiling==3.2.0
typeguard==4.4.1
safetensors==0.4.2
python-dateutil==2.8.2
confection==0.1.4
trec-car-tools==2.6
datasets==2.18.0
tensorflow-io-gcs-filesystem==0.34.0
multimethod==1.12
langchain-openai==0.2.14
astunparse==1.6.3
numpy==1.25.2
kmodes==0.12.2
networkx==3.1
visions==0.7.6
google-pasta==0.2.0
bm25s==0.2.6
regex==2023.12.25
httpx-sse==0.4.0
gql==3.5.0
langchain-text-splitters==0.3.5
spacy-legacy==3.0.12
gitdb==4.0.11
thop==0.1.1-2209072238
soupsieve==2.6
jsonschema-specifications==2023.12.1
markdown-it-py==3.0.0
multidict==6.0.5
accelerate==0.29.2
six==1.16.0
seaborn==0.13.2
warc3-wet-clueweb09==0.2.5
Levenshtein==0.26.1
h11==0.14.0
fasttext==0.9.3
kiwisolver==1.4.4
contourpy==1.1.0
emoji==2.14.0
attrs==23.2.0
spacy-loggers==1.0.5
joblib==1.4.2
ml-dtypes==0.2.0
aiohttp==3.9.4
openpyxl==3.1.2
pytz==2023.3.post1
Jinja2==3.1.3
xgboost==2.0.2
langsmith==0.2.10
annotated-types==0.6.0
customtkinter==5.2.2
patsy==1.0.1
rich==13.7.1
murmurhash==1.0.10
protobuf==4.23.4
catalogue==2.0.10
sympy==1.12
tqdm==4.67.1
scikit-learn==1.6.1
jsonpatch==1.33
syncer==2.0.3
jsonpointer==3.0.0
lazy_loader==0.3
gensim==4.3.2
en-core-web-sm==3.7.1
scipy==1.15.1
tzdata==2023.3
numba==0.60.0
cloudpathlib==0.16.0
tenacity==9.0.0
streamlit==1.33.0
jsonschema==4.23.0
cbor2==5.6.5
fonttools==4.42.1
idna==3.4
xxhash==3.4.1
spacy==3.7.4
inscriptis==2.5.1
yarl==1.9.4
imageio==2.31.2
wrapt==1.14.1
oauthlib==3.2.2
weasel==0.3.4
multiprocess==0.70.16
requests==2.32.2
python-dotenv==1.0.1
gast==0.5.4
imbalanced-learn==0.12.2
orjson==3.10.14
cycler==0.11.0
threadpoolctl==3.2.0
htmlmin==0.1.12
anyio==4.8.0
transformers==4.39.3
sniffio==1.3.1
cohere==5.13.8
mdurl==0.1.2
fastavro==1.10.0
tensorflow==2.15.0
langchain-core==0.3.29
google-auth-oauthlib==1.1.0
mpmath==1.3.0
fsspec==2024.2.0
urllib3==2.1.0
types-requests==2.32.0.20241016
wandb==0.19.3
sentry-sdk==2.20.0
toolz==0.12.1
typer==0.9.4
preshed==3.0.9
rsa==4.9
fastparquet==2024.11.0
charset-normalizer==3.3.2
blinker==1.7.0
pyasn1-modules==0.3.0
zlib-state==0.1.9
phik==0.12.4
cbor==1.0.0
packaging==23.1
weave==0.51.27
nltk==3.8.1
RapidFuzz==3.11.0
torch==2.2.2
fasttext-langdetect==1.0.5
openai==1.59.6
grpcio==1.59.3
srsly==2.4.8
keras==2.15.0
certifi==2024.2.2
pydantic_core==2.27.2
parameterized==0.9.0
altair==5.3.0
absl-py==2.0.0
wheel==0.41.3
httpcore==1.0.7
Werkzeug==3.0.1
torchvision==0.17.2
cymem==2.0.8
cachetools==5.3.2
dill==0.3.8
rpds-py==0.18.0
ultralytics==8.3.59
statsmodels==0.14.4
warc3-wet==0.2.5
h5py==3.10.0
filelock==3.13.4
distro==1.9.0
SQLAlchemy==2.0.37
jiter==0.8.2
frozenlist==1.4.1
unlzw3==0.2.3
pillow==10.4.0
opt-einsum==3.3.0
docker-pycreds==0.4.0
referencing==0.34.0
ijson==3.3.0
requests-toolbelt==1.0.0
lz4==4.3.3
py-cpuinfo==9.0.0
pymdown-extensions==10.14
typing_extensions==4.12.2
darkdetect==0.8.0
httpx==0.28.1
setuptools==75.8.0
PyStemmer==2.2.0.3
pyarrow==15.0.2
et-xmlfile==1.1.0
uuid_utils==0.10.0
ydata-profiling==4.12.1
backoff==2.2.1
tensorboard-data-server==0.7.2
ImageHash==4.3.1
dacite==1.8.1
ranx==0.3.20
huggingface-hub==0.22.2
google-auth==2.23.4
tiktoken==0.8.0
tokenizers==0.15.2
beautifulsoup4==4.12.3
termcolor==2.3.0
setproctitle==1.3.4
matplotlib==3.7.2
MarkupSafe==2.1.3
wasabi==1.1.2
pydantic==2.10.5
pyparsing==3.0.9
pyarrow-hotfix==0.6
tifffile==2023.8.30
scikit-image==0.21.0
flatbuffers==23.5.26
graphql-core==3.2.5
python-frontmatter==1.1.0
click==8.1.7
ultralytics-thop==2.0.13
tabulate==0.9.0
requests-oauthlib==1.3.1
langcodes==3.3.0
llvmlite==0.43.0
blis==0.7.11
